# Osebni dostop do baze
Data/auth.py
.env
!.env.example

# Virtualno okolje
env/
venv/
.venv/

# Python
__pycache__/
*.pyc

# Urejevalniki in operacijski sistem
.DS_Store
.idea/
*.swp

# Scraper
links.csv
